*{
    margin: 0;
    padding: 0;
}
body {
    background-image: url(./imagenes/fondo.jpg);
    font-family: Mate SC;
}

h1 {
    color: #660066;
    margin: 20px;
    padding: 5px;
    animation-name: animate__backInDown;
    animation-duration: 2s;
}

div p {
    margin: 10px;
    padding: 25px;
}
h3 {
    color: black;
}

header h3 {
    color: #660066;
    margin: 30px;
}

section h3 {
    color: #660066;
    margin: 30px;
}

div h3 {
    color: #660066;
}

section h3 {
    margin: 15px;
}

.primero section img {
    display: inline;
}

.primero img {
    margin-left: 10px;
    padding: 10px;

}

div img {
    margin: 35px;
}

table {
    margin: 35px;
    padding: 5px;
}

footer p {
    color: #660066;
    display: flex;
    justify-content: center;
}

.pie {
    color: #660066;
    display: flex;
    justify-content: center;
}

.pie img {
    margin: 3px 5px;
}

.contacto {
    border: none;
    resize: none;
    outline: none;
}

.contacto input,
.contacto textarea {
    color: gray;
}

p {
    color: grey;
}

nav {
    text-align: center;
}

li {
    font-size: 15pt;
}

li a {
    color: #660066;
}

ul {
    display: flex;
    justify-content: center;
    list-style-type: none;
}

/*Efecto Menu*/
ul li a {
    background-color: white;
    --c: #660666;
    color: var(--c);
    margin: 30px;
    padding: 5px;
    text-align: center;
    border-radius: 15px;
    position: relative;
    overflow: hidden;
    z-index: 1;
    transition: 0.5s;
    float: left;
}

ul li span {
    position: absolute;
    width: 25%;
    height: 100%;
    background-color: var(--c);
    transform: translateY(150%);
    border-radius: 50%;
    left: calc((var(--n) - 1) * 25%);
    transition: 0.5s;
    transition-delay: calc((8var(--n) - 1) * 0.1s);
    z-index: -1;
}

ul li a:hover {
    color: white;
}

ul li a:hover span {
    transform: translateY(0) scale(2);
}

ul li a span:nth-child(1) {
    --n: 1;
}

ul li a span:nth-child(2) {
    --n: 2;
}

ul li a span:nth-child(3) {
    --n: 3;
}

ul li a span:nth-child(4) {
    --n: 4;
}

/*Fin Menu*/

/*Animación del inicio*/

.inicio {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.rueda {
    position: relative;
    width: 60px;
    height: 60px;
    margin: 50px;
    padding: 30px;
}

.rueda .carga {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    height: 100%;
    border: 4px solid transparent;
    border-top-color: #660066;
    border-left-color: #660066;
    border-radius: 50%;
    animation: carga 1.4s linear infinite;
}

@keyframes carga {
    0% {
        transform: translate(-50%, -50%) rotate(0deg);
    }

    100% {
        transform: translate(-50%, -50%) rotate(360deg);
    }

}

/*Fin Animacion Inicio*/

/*Animación Footer*/
.corazon {
    animation: latido 1s infinite;

}

@keyframes latido {
    0% {
        transform: scale(1) rotate(10deg);
    }

    20% {
        transform: scale(1.25) rotate(5deg);
    }

    40% {
        transform: scale(1.5) rotate(10deg);
    }
}

/*Fin Animación Footer*/

/*Estilo de Fuentes*/
.normal {
    font-style: normal;
}

.italica {
    font-style: italic;
}

.normal {
    font-weight: normal;
}

.negrita {
    font-weight: bold;
}

.textoGrande {
    font-size: 30px;
}

.textoRelativo {
    font-size: 100%;
}

.centrar {
    text-align: center;
}

.interlineado {
    line-height: 1.2;
}

.sinSubrayado {
    text-decoration: none;
}

.espaciado {
    letter-spacing: 2px;
}

/*Flex Box*/

.menu {
    justify-content: center;
}

.portfolio {
    display: flex;
    padding-top: 10px;
    margin: 20px 5px;

}

.big img {
    transition: width 2s, height 2s;
}

.big:hover {
    transform: scale(1.3);
}

.imagen:hover {
    border-radius: 50%;
    border-radius: 50%;
    box-shadow: 0px 0px 15px 15px #df9fbf;
    box-shadow: 0px 0px 15px 15px #df9fbf;
}

.vintage:hover {
    filter: sepia(80%);
}

.presentacion {
    color: #660066;
    font-size: 18px;
    text-align: center;
}
